/* Global Nav */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
nav {
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
    padding-bottom: 20px;
}

.logo {
    width: 40px;
    border-radius: 100%;
    top: 15px;
    left: 37px;
    position: absolute;
    z-index: 10;
    font-size: 40px;
    color: #fff;
    font-family: "Caveat", cursive;
}


/* Mobile Design */

.mobile {
    display: none;
}

.bar {
    top: 15px;
    right: 35px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    background: transparent;
    border: none;
}

.bar div {
    display: block;
    height: 6px;
    width: 30px;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    margin-top: 5px;
}

.active div:nth-child(1) {
    transform: translateX(-7px) rotate(135deg) translateY(-15.5px);
}

.active div:nth-child(2) {
    opacity: 0;
    margin-left: -60px;
}

.active div:nth-child(3) {
    transform: translateX(-7px) rotate(-135deg) translateY(15.5px);
}

.dropdown {
    position: fixed;
    z-index: 5;
    top: -520px;
    left: 0;
    right: 0;
    height: 270px;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s ease-in-out;
}

.overlay {
    display: none;
    position: fixed;
    top: 460px;
    bottom: 0;
    left: 0;
    right: 0;
}

.down {
    top: 0px;
    display: block;
}

.navigation-mobile {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    list-style: none;
}

.navigation-mobile li {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navigation-mobile a {
    padding: 10px;
    border: #fff 1px solid;
    border-radius: 10px;
    width: 80%;
    height: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Desktop Design */

.desktop {
    display: block;
}

.navigation-desktop {
    display: flex;
    flex-direction: rrelativeow;
    height: 40px;
    width: 190px;
    align-items: center;
    justify-content: center;
}

.navigation-desktop li {
    margin-left: 8px;
    list-style: none;
}

.navigation-desktop a {
    text-decoration: none;
    color: #000;
}


/* Mobile/Desktop Switcher */

@media (max-width: 500px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}