.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.content {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    width: 180px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
    text-align: center;
    margin: 20px auto 0 auto;
}

.card {
    width: 280px;
    height: auto;
    box-shadow: 9px 7px 70px -13px rgba(163, 163, 163, 1);
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 25px;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    transition: 0.5s;
    text-decoration: none;
    color: #000;
}

.card:focus {
    outline: none;
    transform: scale(1.1, 1.1);
}
.card:active {
    outline: none;
    transform: scale(1.1, 1.1);
}

.card:hover {
    box-shadow: 30px 20px 50px -13px rgb(102, 102, 102);
    transform: scale(1.01, 1.01);
}

.resto {
    width: 270px;
    height: 220px;
    border-radius: 5px;
}

.rating {
    width: 25px;
    height: 25px;
}

.rate {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 5px;
}

.rate p {
    margin-top: 3px;
    margin-left: 10px;
    font-size: medium;
}

.identity {
    width: 100%;
    height: auto;
    margin-left: 5px;
}

.identity h1 {
    font-size: 20px;
    margin-top: 5px;
    font-weight: 800;
    text-align: left;
}

.identity h2 {
    font-weight: 600;
    text-align: left;
    font-size: 15px;
}

.desc p {
    font-weight: 200;
    text-align: left;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.desc {
    width: 100%;
    height: auto;
    margin-left: 5px;
}

.search {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 400px;
    height: 44px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 0 20px;
    margin-top: 20px;
    background-color: #e8e8e8;
}

.search input:focus {
    outline: none;
}

.search button {
    width: 44px;
    height: 44px;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #666;
    margin-top: 20px;
}

.search button:focus~.fa-search {
    transform: scale(1.1, 1.1);
}

.search button:active {
    background-color: #444;
}

.fa {
    color: #fff;
}
.back {
    width: 110px;
    height: 44px;
    background: rgb(0, 110, 255);
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 2px 2px 5px -13px rgb(0, 0, 0);
    transition: 0.3s;
    border: none;
}
.back:hover{
    transform: scale(1.05);
}
.back:active{
    transform: scale(0.95);
    background: rgb(0, 75, 173);
}
@media screen and (max-width: 500px) {
    .card {
        width: 75%;
    }
    .resto {
        width: 100%;
        height: auto;
    }
    .search {
        width: 100%;
    }
    .search input {
        width: 70%;
    }
}