footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

footer p {
    color: #aaa;
}